aiohttp==3.9.3
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anthropic==0.26.0
anyio==4.3.0
asgiref==3.8.1
assemblyai==0.23.1
astrapy==0.7.7
asyncer==0.0.5
attrs==23.2.0
Authlib==1.3.0
azure-common==1.1.28
azure-core==1.30.1
azure-cosmos==4.6.0
azure-identity==1.16.0
azure-search-documents==11.6.0b3
backoff==2.2.1
bce-python-sdk==0.9.10
bcrypt==4.0.1
beautifulsoup4==4.12.3
bidict==0.23.1
boto3==1.34.108
botocore==1.34.108
bs4==0.0.2
build==1.1.1
cachetools==5.3.3
cassandra-driver==3.29.1
cassio==0.1.7
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
clevercsv==0.8.2
click==8.1.7
colorclass==2.2.2
coloredlogs==15.0.1
colorlog==6.8.2
compressed-rtf==1.0.6
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
dataclasses-json==0.6.4
datasets==2.14.7
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.0.0
docstring-parser==0.15
dspy-ai==2.4.9
duckdb==0.10.3.dev1258
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
elastic-transport==8.13.0
elasticsearch==8.13.1
extract-msg==0.47.0
faiss-cpu==1.8.0
fake-useragent==1.5.1
fastapi==0.110.3
fastavro==1.9.4
filelock==3.13.1
FLAML==2.1.2
flatbuffers==24.3.7
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.10.0
future==1.0.0
fuzzywuzzy==0.18.0
geomet==0.2.1.post1
gotrue==2.4.2
gpt4all==2.6.0
grandalf==0.8
greenlet==3.0.3
groq==0.6.0
grpc-google-iam-v1==0.13.0
grpcio==1.64.0rc1
grpcio-health-checking==1.63.0rc1
grpcio-status==1.63.0rc1
grpcio-tools==1.63.0rc1
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.4
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.20.3
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ijson==3.2.3
importlib-metadata==6.11.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.58
langchain-openai==0.1.3
langchain-pinecone==0.1.1
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langfuse==2.32.0
langgraph==0.0.49
langsmith==0.1.31
lark==1.1.8
litellm==1.37.16
loguru==0.7.2
lxml==5.2.2
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline
mdurl==0.1.2
metal_sdk==2.5.1
metaphor-python==0.1.23
mkl==2021.4.0
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
msoffcrypto-tool==5.4.0
multidict==6.0.5
multiprocess==0.70.15
mypy-extensions==1.0.0
networkx==3.3
nltk==3.8.1
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
oletools==0.60.1
onnxruntime==1.17.1
openai==1.14.2
optuna==3.6.1
orjson==3.10.0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
passlib==1.7.4
pcodedmp==1.2.6
pgvector==0.2.5
pillow==10.3.0
plotly==5.21.0
portalocker==2.8.2
postgrest==0.16.4
proto-plus==1.24.0.dev1
protobuf==4.25.3
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyautogen==0.2.27
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
PyJWT==2.8.0
pysrt==1.1.2
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-jose==3.3.0
python-multipart==0.0.7
python-socketio==5.11.2
pytube==15.0.0
pytz==2024.1
pywin32==306
PyYAML==6.0.1
realtime==1.0.4
red-black-tree-mod==1.20
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
s3transfer==0.10.1
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
simple-websocket==1.0.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
sqlmodel==0.0.16
starlette==0.37.2
storage3==0.7.4
StrEnum==0.4.15
tenacity==8.2.3
tiktoken==0.6.0
tokenizers==0.19.1
toml==0.10.2
torch==2.3.0
tqdm==4.66.2
transformers==4.39.3
typer==0.12.3
types-cachetools==5.3.0.7
types-requests==2.31.0.20240311
typing-inspect==0.9.0
typing_extensions==4.12.0rc1


