# Local python packages
.python_packages/
__pypackages__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Python files
st_app.py